<!DOCTYPE html>
<!--
 *  Copyright (c) 2021 The WebRTC project authors. All Rights Reserved.
 *
 *  Use of this source code is governed by a BSD-style license
 *  that can be found in the LICENSE file in the root of the source
 *  tree.
-->
<html>
<head>

    <meta charset="utf-8">
    <meta name="description" content="Videoconferencia con WebRTC">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1">
    <meta itemprop="description" content="Videoconferencia con WebRTC">
    <meta name="mobile-web-app-capable" content="yes">
    <meta id="theme-color" name="theme-color" content="#ffffff">

    <base target="_blank">

    <title>Videoconferencia</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="./stylesheets/styleVideochat.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

<div id="container">
    <h1>Videochat</h1>
	
    <div class="video-label">Haz "click" en tu camara para cambiarte de tamaño</div>
    <video id="localVideo" playsinline autoplay muted></video>
    <video id="remoteVideo" playsinline autoplay></video>
	
	<div id="callStatus"></div>

    <div class="box">
        <button id="startButton"><i class="fas fa-video"></i> Iniciar Videollamada</button>
		<button id="hangupButton"><i class="fas fa-phone"></i> Colgar</button>
    </div>
	
</div>

<div id="chat-container">
    <h2>Chat</h2>
    <div id="chatbox">
        <ul id="chatMessages"></ul>
        <form id="chatForm">
            <input type="text" id="chatInput" placeholder="Escribe un mensaje">
            <button type="submit">Enviar</button>
        </form>
    </div>
</div>

<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="./javascripts/main.js" async></script>
<script>
    const callStatusDiv = document.getElementById('callStatus');
    function updateCallStatus() {
        callStatusDiv.textContent = callState;
    }
    updateCallStatus(); // Llama a la función al inicio para mostrar el estado inicial
</script>
</body>
</html>



